<div class="flex justify-start items-center gap-4 md:gap-6 p-2">
    <a href="https://github.com/ju5nj0se" target="_blank" rel="noopener noreferrer">
        <img src="assets/github.png" alt="GitHub" class="w-8 h-8 md:w-10 md:h-10 object-contain transition-all duration-300 hover:brightness-75">
    </a>
    <a href="https://www.linkedin.com/in/juan-josé-hernández-3a0524331" target="_blank" rel="noopener noreferrer">
        <img src="assets/linkedin.png" alt="LinkedIn" class="w-9 h-9 md:w-11 md:h-11 object-contain transition-all duration-300 hover:brightness-75">
    </a>
    <a href="https://www.instagram.com/ju5njo_7/" target="_blank" rel="noopener noreferrer">
        <img src="assets/instagram.png" alt="Instagram" class="w-9 h-9 rounded-md   md:w-11 md:h-11 object-contain transition-all duration-300 hover:brightness-75">
    </a>
</div>