<header class="flex justify-between w-full p-5 px-7 space-1">
    <div class="flex justify-between items-center">
        <img src="assets/juan.jpeg" alt="Profile Image" class="object-cover w-20 h-auto rounded-full">
        <h1 class="font-bold m-2 my-4 whitespace-nowrap">Juan José</h1>
    </div>

    <nav class="w-full">
        <button (click)='toggleMenu()' class="md:hidden focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                @if (!isMenuOpen) {
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                } @else {
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                }
            </svg>
        </button>

        <ul class="hidden md:flex justify-end w-full">
            <li><a class="font-bold text-3xl m-2 my-4 cursor-pointer">Inicio</a></li>
            <li><a class="font-bold text-3xl m-2 my-4 cursor-pointer">Acerca de mi</a></li>
            <li><a class="font-bold text-3xl m-2 my-4 cursor-pointer">Proyectos</a></li>
            <li><a class="font-bold text-3xl m-2 my-4 cursor-pointer">Contactame</a></li>
        </ul>

        <ul [class.hidden]="!isMenuOpen"  class="md:hidden max-w-full">
            <li><a class="m-2 my-4 cursor-pointer">Inicio</a></li>
            <li><a class="m-2 my-4 cursor-pointer">Acerca de mi</a></li>
            <li><a class="m-2 my-4 cursor-pointer">Proyectos</a></li>
            <li><a class="m-2 my-4 cursor-pointer">Contactame</a></li>
        </ul>
    </nav>
</header>